<body>
<div class="px-4 py-5 my-5 text-center" >
    <img class="d-block mx-auto mb-4" style="margin-top:7%" src="https://cdn-icons-png.flaticon.com/512/1051/1051331.png?w=360" alt="" width="55" height="57">
    <h1 class="display-5 fw-bold">Our Joint Tweet  </h1> 
        

      <p class="lead mb-4">Check your timeline, post a new tweet, see who you have liked the most <br>in your last 200 likes, or produce a joint tweet with your best friends!</p>

      <small >By Unal Cama</small>
  <!-- <div class="row ">
      <button type="submit" class="btn btn-dark mx-auto " style="margin-top:15px; width: 150px;" (click)="signIn()"> Sign-In</button>
  </div> -->
  </div>



</body>