<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" style="margin-top:7%"
            src="https://cdn-icons-png.flaticon.com/512/1051/1051331.png?w=360" alt="" width="55" height="57">
        <h1 class="display-5 fw-bold">Custom Joint Tweet</h1>


        <form [formGroup]="tweetForm" (ngSubmit)="submitSearch()">

            <div class="form-group">

                <input type="text" id="user1" name="user1" formControlName="user1" class="form-control-5" placeholder="User 1"
                    style="width:300px; border-radius: 5px; ">
                <input type="text" id="user2" name="user2" formControlName="user2" class="form-control-5" placeholder="User 2"
                    style="width:300px; border-radius: 5px; ">
                <input type="text" id="user3" name="user3" formControlName="user3" class="form-control-5" placeholder="User 3"
                    style="width:300px; border-radius: 5px; ">
            </div>

            <button *ngIf="buttonClicked==false" type="submit" class="btn btn-dark" style="margin-top:15px">Generate Tweet</button>
            <div *ngIf="(loading==true)" style="padding: 15px;">
                <div class="text-center">
                  <div class="spinner-border" role="status" style="width: 3rem; height: 3rem; ">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
        
        
              </div>
        </form>

        <p class="lead mb-4" style="margin-top:5%">{{newTweet.slice(0, newTweet.indexOf("--- Mashed tweets of:"))}}</p>
        <button *ngIf="loading==false && buttonClicked==true" type="submit" class="btn btn-dark" style="margin-top:15px" onclick="location.reload()">Refresh</button>


    </div>
</body>